; Set some packages to Decathlon's internal registry
registry=https://registry.npmjs.org
@front-end-community:registry=http://nexus.osiris.withoxylane.com/repository/managedNpm
@decathlon:registry=http://nexus.osiris.withoxylane.com/repository/managedNpm
